.country-details {
    padding: 1rem;
  }
  
  .details-container {
    display: grid;
    grid-template-columns: 100%;
  }
  
  .country-details .flag-wrapper {
    margin: 2rem;
    aspect-ratio: 1.5;
  }
  
  .country-details .flag-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .info-wrapper {
    padding-inline: 2rem; 
  }
  
  .info-wrapper p {
    margin-block: .5rem;
    font-weight: 700;
  }
  
  .info-wrapper p span {
    font-weight: 400;
  }
  
  .right {
    margin-block: 3rem;
  }
  
  .border-countries {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .country-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
  }
  
  .border-country-btn {
    padding: .5rem 1rem;
    font-family: inherit;
    box-shadow: var(--light-mode-shadow);
    border: .01rem solid rgba(128, 128, 128, 0.144);
    border-radius: .2rem;
  }
  
  .back-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: capitalize; 
    margin-left: 2rem;
    margin-block: 3rem 1rem;
    font-size: inherit;
  }
  
  .arrow-icon {
    width: 1.5rem;
    height: 1rem;
    background: url('/images/back-arrow-dark.svg') no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  main.dark .arrow-icon {
    background: url('/images/back-arrow-light.svg') no-repeat;
    background-position: center;
    background-size: cover;
  }
  